/* Vos customisations des classes de Bootstrap */
*{
	margin: 0px;
	padding: 0px;
}

body {
	box-sizing: border-box;
	font-family: 'Arvo', serif;
	max-width: 99%;
	margin: auto;
	color:white;
}
.navbar{
	background: white;
}
a{
	color: rgb(24, 24, 24);

}
hr{
	
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
	height: 1px;
	background: white;
}
hr.left{
	margin: 0;
	margin-bottom: 20px;
}

#header{
		background: no-repeat url("../images/psychedelique.jpg");
		background-size: cover; 
		height: 100%;
		padding: 0px;
		margin: 0%;
		border-radius: 0px;
	
	}



#footer{
	background: url("../images/psychedelique.jpg");
	background-size: cover; 
	height: 100%;
	justify-content: space-around;
	margin: 0px 20%;
	border-radius: 0px;
	
	

}
#footer a{
	

	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.747);
}
#footer_2{
	flex-direction: column;
	align-items: flex-start;
}
#footer_2 p{
	
	color:  rgba(0, 0, 0, 0.747);
	font-size: 10px;

}
h4{
	margin-bottom: 10px;
}
em{
	color: blue;
}
img.githut{
	width: 15px;
	margin-right: 10px;
	position: relative;
	bottom: 3px;
}
.btn{
	padding: 10px;
}
button{
	color: rgb(41, 41, 41);
	padding: 10px 5px;
}
.buttons_row{
	margin-top: 20px;
}


.logo {
	padding-top: 5px;
	padding-left: 10%;
	background-color: black; 

}
.container{
	padding: 150px 0px;
	text-align: center;
	font-style: bold;
	background: rgba(0, 0, 0, 0.555);
}

.navbar-expand-lg {
 
    justify-content: flex-start;
    margin: 0px 20%;

}

.navbar-expand-lg#footer{
	margin: 10px 0px;
}
.grey{
	background: rgb(233, 233, 233);
}
.card-img{
	padding: 10%;
}
